{% extends "base.html" %}
{% block content %}

    <h1> {{ title }} </h1>
    <h3> {{ welcome }} </h3>

    {% if user_list|length == 0 %}
        <p> No Users? </p>
    {% else %}
    <table>

        {% for user in user_list %}
            <ul>
                <li>
                    <form id= "individual_user" action= "/UserPage">
                        <input form= "individual_user" type= "submit" 
                            class= "link_button" name= "user_link" 
                            value= "{{ user.username }}"/>
                    </form>
                </li>
            </ul>
        {% endfor %}
    </table>

    {% endif %}
{% endblock %}