{% extends "base.html" %}

TEST MESSAGE
{% block content %}
    <h1><center>Build a Blog</center></h1>
    {% for user in users %}
    <ul>
           
        {% for entry in all_entries %}
        {% if user.id==entry.owner_id %}
    
            <li><h2> <a href="/blog?id={{ entry.id }}">{{ entry.title }}</a></h2></li>
            <li>Content :{{ entry.body }}</li>
            <li><i>Writter By : <a href="/blog?user={{user.id}}">{{user.username}}</i></a></li>

       {% endif %}
      {% endfor %}
      
  </ul>
                
            
        {% endfor %}
    
{% endblock %}