<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    <!-- main element is a flexbox  -->
    


            <a href='/blog?sort=oldest'>Main Blog Page</a>&nbsp;&nbsp;&nbsp;
            <a href='/newpost'>Add a blog entry</a>
 

        <div class="container">
            <!-- No message categories  -->
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <div class="flash_message">{{message|safe}}</div>
                {% endfor %}
            {% endwith %}

            {% block content %}
            {% endblock %}

        </div> <!-- .container -->
  

</body>
</html>